{{! Put a very cliche about us on here. }}

<header class="mb-6">
  <p>"Personally Dedicated to Finding your Perfect Companion"</p>
</header>

<div id="homepage-main">
  <h2 id="aboutus-header">About Us</h2>
  <p id="about-us">
    Here at 'Perfect Pet', we believe life should always have good company. We
    pride ourselves on placing people to companions that can fufill each of our
    lives to a higher degree. With the wonders of technology, we find pets from
    owners or shelters from around the country with pets in need. Each pet has
    their own unique personalities and so do we. Through our website, you can
    filter based on your individual preferences to find that truly Perfect Pet.
  </p>
  <div class="card-group">
  {{#each pets as |pet|}}
  <div class=" card card-home">
    <img src="..." class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title">{{name}}</h5>
      <p class="card-text"><ul>
        <li>{{pet.age}}</li>
        <li>{{pet.gender}}</li>
        <li>{{date_maker pet.posted}}</li>
        </ul>
        </p>
      <a href="/singlepet/{{pet.id}}" class="btn btn-primary btn-home">See more</a>
    </div>
    </div>
    {{/each}}
    </div>
 
