{{#each pets as |pet|}}
  <section class="container mt-3">
    <div class="row">
      <div class="col-12">
        <div class="card text-center" id="display">
          <div class="card-header">
            <input
              type="hidden"
              class="petone"
              name="pet-id"
              value="{{pet.id}}"
            />
            <p class="card-text"><a
                href="/singlepet/{{pet.id}}"
              >{{pet.name}}</a>
              posted on
              {{date_maker pet.posted}}</p>
          </div>
          <div class="card-body">
            <p class="card-text"><img src="data:image/jpeg;base64, {{pet.image.data}}"/></p>
            <p class="card-text"> posted by: {{pet.user.username}}</p>
            <button class="deleteme" data-id="{{pet.id}}">delete posting</button>
          </div>
        </div>
      </div>
    </div>
  </section>
{{/each}}

<script src="/js/delete.js"></script>